<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Shop - Home</title>
    <link rel="stylesheet" href="/css/style.css">
      <!-- Toastr CSS -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  
</head>

<body>

    <!-- Navigation bar for text logo and menu -->
    <div class="navbar">
        <div class="logo"><a href="/">Simple <span>Shop</span></a></div>
        <div class="menu-toggle" onclick="toggleMenu()">&#9776;</div>
        <ul class="nav-links">
            <% if (user) { %>
                <li>Welcome, <%= user.username %>!</li>
                <li><a href="#products">Place Order</a></li>
                <li><a href="my-cart">My cart</a></li>
                <li><a href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="#mouth-watering">Place Order</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <% } %>
                </ul>
    </div>

    <% if (errorMessage && errorMessage.length> 0) { %>
        <script>
            toastr.error("<%= errorMessage[0] %>"); 
        </script>
        <% } %>

            <% if (successMessage && successMessage.length> 0) { %>
                <script>
                    toastr.success("<%= successMessage[0] %>"); 
                </script>
                <% } %>

    <!-- My carts Section -->
    <div id="my-carts" class="menu-section">
        <h2>Your carts</h2>

        <% if (carts.length === 0) { %>
            <p>You have no carts yet.</p>
        <% } else { %>
            <div class="menu-grid">
                <% carts.forEach(function(cart) { %>
                    <div class="menu-item">
                        <img src="<%= cart.image_url %>" alt="<%= cart.name %>">
                        <h3><%= cart.name %></h3>
                        <p><%= cart.description %></p>
                        <div class="price">$<%= cart.price %></div>
                        <!-- Remove from cart Button -->
                        <form action="/remove-from-cart" method="POST">
                            <input type="hidden" name="productId" value="<%= cart.product_id %>">
                            <input type="hidden" name="redirectUrl" value="<%= requestUrl %>">
                            <button type="submit" class="remove-from-cart">Remove from cart</button>
                        </form>
                        
                    </div>
                <% }); %>
            </div>
        <% } %>
    </div>

</body>

</html>
